@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Barlow', sans-serif;
}

button {
  width: fit-content;
  height: fit-content;
  padding: 6px;

  border: none;
  border-radius: 5px;

  background-color: white;
  font-weight: 600;
}

button:hover {
  background-color: rgb(148, 148, 148);
  color: white;

  transition : background-color 0.1s,
              color 0.1s;
}

button:active {
  background-color: rgb(196, 196, 196);
  color: white;

  transition: none;
}

input[type=email], input[type=text], input[type=password], textarea {
  padding: 14px;

  border: 1px solid rgb(189, 189, 189);
  border-radius: 4px;

  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  background-color: rgb(247, 247, 247);
}

#container {
  min-width: 320px;
  height: 100vh;
  padding: 10px;
  overflow: hidden;

  position: relative;

  display: flex;
  flex-flow: column;
  gap: 10px;

  /* outline: 1px solid red; */
}

.center {
  height: 100%;

  /* outline: 1px solid red; */
}